/* grid */
/* 2차원 레이아웃 시스템 */

.container {
    display: grid;
    /* 열 정의 */
    /* grid-template-columns: 100px 150px 200px; */
    /* 다양한 크기 */
    /* grid-template-columns: 100px 150px 200px; */
    /* 백분율 */
    /* grid-template-columns: 20% 50% 25%; */
    /* fr단위 (fraction) */
    /* grid-template-columns: 1fr 2fr 1fr; */
    /* 고정 + 유동 */
    /* grid-template-columns: 1fr 200px 1fr; */
    /* repeat() 함수 */
    /* 3개의 열, 각 1fr씩 */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: repeat(3, 1fr); */
    /* 4개의 열,각 100px, 200px씩 반복 */
    /* grid-template-columns: repeat(2, 200px 100px); */
    
    grid-template-rows: 100px 200px;
    gap: 20px;

}

.item {
    background-color: burlywood;
    height: 150px;
    font-size: 48px;

}

.item1 {
    /* 1번부터 3번까지 */
    grid-column: 1 / 3;
    /* 2개열 차지 */
    /* grid-column: span 2; */

    /* grid-row: 1 / 3; */
    grid-row: span 2;
}