.circle1{
    position:relative;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100px;
    border: 3px solid black;
}
.circle2{
    position:relative;
    top: -40px;
    left: 40px;
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 100px;
    border: 3px solid black;
}
.circle3{
    position:relative;
    top: -90px;
    left: 100px;
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 100px;
    border: 3px solid black;
}
.circle4{
    position:relative;
    top: -210px;
    left: 150px;
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 100px;
    border: 3px solid black;
}
.circle5{
    position:relative;
    top: -290px;
    left: 210px;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 100px;
    border: 3px solid black;
}